<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="userId"    column="userId"    />
        <result property="addrArea"    column="addrArea"    />
        <result property="addrCity"    column="addrCity"    />
        <result property="addrProvince"    column="addrProvince"    />
        <result property="available"    column="available"    />
        <result property="birthday"    column="birthday"    />
        <result property="email"    column="email"    />
        <result property="imageUrl"    column="imageUrl"    />
        <result property="industry"    column="industry"    />
        <result property="intro"    column="intro"    />
        <result property="lastLoginTime"    column="lastLoginTime"    />
        <result property="modifyTime"    column="modifyTime"    />
        <result property="modifyUserId"    column="modifyUserId"    />
        <result property="password"    column="password"    />
        <result property="position"    column="position"    />
        <result property="registerTime"    column="registerTime"    />
        <result property="salt"    column="salt"    />
        <result property="sex"    column="sex"    />
        <result property="telephone"    column="telephone"    />
        <result property="username"    column="username"    />
        <result property="wxOpenId"    column="wxOpenId"    />
    </resultMap>

    <sql id="selectUserVo">
        select userId, addrArea, addrCity, addrProvince, available, birthday, email, imageUrl, industry, intro, lastLoginTime, modifyTime, modifyUserId, password, position, registerTime, salt, sex, telephone, username, wxOpenId from user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="addrArea != null  and addrArea != ''"> and addrArea = #{addrArea}</if>
            <if test="addrCity != null  and addrCity != ''"> and addrCity = #{addrCity}</if>
            <if test="addrProvince != null  and addrProvince != ''"> and addrProvince = #{addrProvince}</if>
            <if test="available != null "> and available = #{available}</if>
            <if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and imageUrl = #{imageUrl}</if>
            <if test="industry != null  and industry != ''"> and industry = #{industry}</if>
            <if test="intro != null  and intro != ''"> and intro = #{intro}</if>
            <if test="lastLoginTime != null  and lastLoginTime != ''"> and lastLoginTime = #{lastLoginTime}</if>
            <if test="modifyTime != null  and modifyTime != ''"> and modifyTime = #{modifyTime}</if>
            <if test="modifyUserId != null "> and modifyUserId = #{modifyUserId}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="registerTime != null  and registerTime != ''"> and registerTime = #{registerTime}</if>
            <if test="salt != null  and salt != ''"> and salt = #{salt}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="wxOpenId != null  and wxOpenId != ''"> and wxOpenId = #{wxOpenId}</if>
        </where>
    </select>
    
    <select id="selectUserByUserId" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where userId = #{userId}
    </select>
        
    <insert id="insertUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">userId,</if>
            <if test="addrArea != null">addrArea,</if>
            <if test="addrCity != null">addrCity,</if>
            <if test="addrProvince != null">addrProvince,</if>
            <if test="available != null">available,</if>
            <if test="birthday != null">birthday,</if>
            <if test="email != null">email,</if>
            <if test="imageUrl != null">imageUrl,</if>
            <if test="industry != null">industry,</if>
            <if test="intro != null">intro,</if>
            <if test="lastLoginTime != null">lastLoginTime,</if>
            <if test="modifyTime != null">modifyTime,</if>
            <if test="modifyUserId != null">modifyUserId,</if>
            <if test="password != null">password,</if>
            <if test="position != null">position,</if>
            <if test="registerTime != null">registerTime,</if>
            <if test="salt != null">salt,</if>
            <if test="sex != null">sex,</if>
            <if test="telephone != null">telephone,</if>
            <if test="username != null">username,</if>
            <if test="wxOpenId != null">wxOpenId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="addrArea != null">#{addrArea},</if>
            <if test="addrCity != null">#{addrCity},</if>
            <if test="addrProvince != null">#{addrProvince},</if>
            <if test="available != null">#{available},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="email != null">#{email},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="industry != null">#{industry},</if>
            <if test="intro != null">#{intro},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="modifyUserId != null">#{modifyUserId},</if>
            <if test="password != null">#{password},</if>
            <if test="position != null">#{position},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="salt != null">#{salt},</if>
            <if test="sex != null">#{sex},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="username != null">#{username},</if>
            <if test="wxOpenId != null">#{wxOpenId},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="addrArea != null">addrArea = #{addrArea},</if>
            <if test="addrCity != null">addrCity = #{addrCity},</if>
            <if test="addrProvince != null">addrProvince = #{addrProvince},</if>
            <if test="available != null">available = #{available},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="email != null">email = #{email},</if>
            <if test="imageUrl != null">imageUrl = #{imageUrl},</if>
            <if test="industry != null">industry = #{industry},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="lastLoginTime != null">lastLoginTime = #{lastLoginTime},</if>
            <if test="modifyTime != null">modifyTime = #{modifyTime},</if>
            <if test="modifyUserId != null">modifyUserId = #{modifyUserId},</if>
            <if test="password != null">password = #{password},</if>
            <if test="position != null">position = #{position},</if>
            <if test="registerTime != null">registerTime = #{registerTime},</if>
            <if test="salt != null">salt = #{salt},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="username != null">username = #{username},</if>
            <if test="wxOpenId != null">wxOpenId = #{wxOpenId},</if>
        </trim>
        where userId = #{userId}
    </update>

    <delete id="deleteUserByUserId" parameterType="String">
        delete from user where userId = #{userId}
    </delete>

    <delete id="deleteUserByUserIds" parameterType="String">
        delete from user where userId in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>